{% extends 'base.html.twig' %}

{% block title %}Languages{% endblock %}

{% block body %}
    <h1 style="color: red;">Languages</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Rank</th>
            <th>Language</th>
            <th>#</th>
        </tr>
        </thead>
        <tbody>
        {% for language in languages %}
            <tr>
                <td>{{ language.ranking }}</td>
                <td>{{ language.language }}</td>
                <td>
                    <a class="btn btn-outline-danger btn-sm" href="{{ path('languages_edit', {'id': language.id}) }}">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success btn-sm" href="{{ path('languages_new') }}">New</a>
{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 100,
                "order": [[0, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}

