<form method="post" action="{{ path('cms_dynamic_delete', {'id': cms_dynamic.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cms_dynamic.id) }}">
    <button class="btn btn-danger btn-sm">Delete</button>
</form>
