
{#<table>#}
{#    <tr>#}
{#        <th colspan="11">ΜΕΡΟΣ II: ΜΕΛΗ ΤΗΣ ΟΙΚΟΓΕΝΕΙΑΣ ΠΟΛΙΤΗ ΤΗΣ ΕΝΩΣΗΣ ΠΟΥ ΕΙΝΑΙ ΕΠΙΣΗΣ ΠΟΛΙΤΕΣ ΤΗΣ ΕΝΩΣΗΣ /<br>PART II: EU CITIZENS, FAMILY MEMBERS OF A UNION CITIZEN</th>#}
{#    </tr>#}
{#    <tr>#}
{#        <td colspan="11">Να συμπληρωθεί με ΜΑΥΡΟ ή ΜΠΛΕ μελάνι ΜΟΝΟ. When completing this form, use BLUE or BLACK ink ONLY.</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <th>1. Αιτητής / Applicant</th>#}
{#        <th>2. Ημ. Γέννησης (ΗΗ/ΜΜ/ΧΧΧΧ) / Date Of Birth (DD/MM/YYYY)</th>#}
{#        <th>3. Φύλο / Sex</th>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>Επώνυμο / Surname</td>#}
{#        <td>☐</td>#}
{#        <td>☐ Άρρεν / Male<br>☐ Θήλυ / Female</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>Όνομα (τα) / Name (s)</td>#}
{#        <td>Πατρικό ή άλλο Επώνυμο / Middle or Other Surname</td>#}
{#        <td>4. Τόπος Γέννησης (Πόλη & Χώρα) / Place Of Birth (City & Country)</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>5. Υπηκοότητα/ Nationality</td>#}
{#        <td>6. Διαβατήριο ή Ταυτότητα/ Passport or ID Card</td>#}
{#        <td>7. Συγγένεια (υποβάλετε τα σχετικά πιστοποιητικά)/ Relationship (submit all relevant certificates)</td>#}
{#        <td>Αριθμός / No.</td>#}
{#        <td>Ημ. Λήξης / Date of Expiration</td>#}
{#        <td>8. Αρ. Εγγραφής Αλλοδαπού/ Alien Reg. No.</td>#}
{#        <td>9. Τελευταία ημερ. εισόδου στην Κύπρο/ Date of last entry in Cyprus</td>#}
{#        <td>10. Υπογραφή/ Signature</td>#}
{#        <td>11. Hμερ./ Date</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td colspan="11">…………………………………………..…………</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td colspan="11">Υπογραφή / Signature<br>………………….</td>#}
{#    </tr>#}
{#</table>#}


<table class="form mt-3 family-member1">


    <tbody>
    <tr>
        <td colspan="8"><strong>
                ΜΕΡΟΣ II: ΜΕΛΗ ΤΗΣ ΟΙΚΟΓΕΝΕΙΑΣ ΠΟΛΙΤΗ ΤΗΣ ΕΝΩΣΗΣ ΠΟΥ ΕΙΝΑΙ ΕΠΙΣΗΣ ΠΟΛΙΤΕΣ ΤΗΣ ΕΝΩΣΗΣ /<br>PART II: EU CITIZENS, FAMILY MEMBERS OF A UNION CITIZEN
            </strong><br>
            Να συμπληρωθεί με ΜΑΥΡΟ ή ΜΠΛΕ μελάνι ΜΟΝΟ. When completing this form, use BLUE or BLACK ink ONLY.
        </td>
    </tr>

    <tr>
        <td colspan="4" class="col-head">1. Αιτητής / Applicant</td>
        <td colspan="2" class="col-head">2. Ημ. Γέννησης (ΗΗ/ΜΜ/ΧΧΧΧ) <br> / Date Of Birth (DD/MM/YYYY)</td>
        <td colspan="2" class="col-head">3. Φύλο / Sex</td>
    </tr>
    <tr>
        <td colspan="4">Επώνυμο / Surname
            <br>
        </td>
        <td colspan="2"></td>
        <td class="text-center">
            <input type="checkbox"><br>
            Άρρεν/ Male
        </td>
        <td class="text-center">
            <input type="checkbox" class="mt-1"><br>
            Θήλυ / Female
        </td>
    </tr>
    <tr>
        <td rowspan="2" colspan="2">Όνομα (τα) / Name (s) <br>
            <br>


        </td>
        <td rowspan="2" colspan="2">Πατρικό ή άλλο Επώνυμο / <br>Middle or Other Surname<br>
            <br>


        </td>
        <td colspan="4" class="col-head">4. Τόπος Γέννησης (Πόλη & Χώρα) / Place Of Birth (City & Country)</td>
    </tr>
    <tr>
        <td colspan="4">
            <br>

        </td>
    </tr>
    <tr>
        <td colspan="2" class="col-head">5. Υπηκοότητα/ Nationality</td>
        <td colspan="3" class="col-head">6. Διαβατήριο ή Ταυτότητα/ Passport or Identity Card</td>
        <td colspan="3" class="col-head">
            7. Συγγένεια <span class="font-weight-normal">(υποβάλετε τα σχετικά πιστοποιητικά)/</span><br>
            Relationship <span class="font-weight-normal"> (submit all relevant certificates)</span>
        </td>
    </tr>

    <tr>
        <td rowspan="2" colspan="2"><br><br></td>
        <td colspan="3">Αριθμός / No.
        </td>
        <td rowspan="2" colspan="3"></td>
    </tr>
    <tr>
        <td colspan="3">Ημ. Λήξης / Date of Expiration

        </td>
    </tr>


    <tr>
        <td colspan="2" class="col-head">8. Αρ. Εγγραφής Αλλοδαπού/ Alien Reg. No.</td>
        <td colspan="3" class="col-head">9. Τελευταία ημερ. εισόδου στην Κύπρο/ Date of last entry in Cyprus</td>
        <td colspan="2" class="col-head">10. Υπογραφή/ Signature</td>
        <td class="col-head">11.Hμερ./ Date</td>
    </tr>

    <tr>
        <td colspan="2"></td>
        <td colspan="3"></td>
        <td colspan="2" class="text-center" >
            <br>
            …………………………………………..…………………………<br>Υπογραφή Αιτητή / Applicant’s Signature</td>
        <td class="text-center">
            <br>
            ............................
        </td>
    </tr>
    </tbody>
</table>

<table class="form mt-3 family-member1">


    <tbody>

    <tr>
        <td colspan="4" class="col-head">1. Αιτητής / Applicant</td>
        <td colspan="2" class="col-head">2. Ημ. Γέννησης (ΗΗ/ΜΜ/ΧΧΧΧ) <br> / Date Of Birth (DD/MM/YYYY)</td>
        <td colspan="2" class="col-head">3. Φύλο / Sex</td>
    </tr>
    <tr>
        <td colspan="4">Επώνυμο / Surname
            <br>
        </td>
        <td colspan="2"></td>
        <td class="text-center">
            <input type="checkbox"><br>
            Άρρεν/ Male
        </td>
        <td class="text-center">
            <input type="checkbox" class="mt-1"><br>
            Θήλυ / Female
        </td>
    </tr>
    <tr>
        <td rowspan="2" colspan="2">Όνομα (τα) / Name (s) <br>
            <br>


        </td>
        <td rowspan="2" colspan="2">Πατρικό ή άλλο Επώνυμο / <br>Middle or Other Surname<br>
            <br>


        </td>
        <td colspan="4" class="col-head">4. Τόπος Γέννησης (Πόλη & Χώρα) / Place Of Birth (City & Country)</td>
    </tr>
    <tr>
        <td colspan="4">
            <br>

        </td>
    </tr>
    <tr>
        <td colspan="2" class="col-head">5. Υπηκοότητα/ Nationality</td>
        <td colspan="3" class="col-head">6. Διαβατήριο ή Ταυτότητα/ Passport or Identity Card</td>
        <td colspan="3" class="col-head">
            7. Συγγένεια <span class="font-weight-normal">(υποβάλετε τα σχετικά πιστοποιητικά)/</span><br>
            Relationship <span class="font-weight-normal"> (submit all relevant certificates)</span>
        </td>
    </tr>

    <tr>
        <td rowspan="2" colspan="2"><br><br></td>
        <td colspan="3">Αριθμός / No.
        </td>
        <td rowspan="2" colspan="3"></td>
    </tr>
    <tr>
        <td colspan="3">Ημ. Λήξης / Date of Expiration

        </td>
    </tr>


    <tr>
        <td colspan="2" class="col-head">8. Αρ. Εγγραφής Αλλοδαπού/ Alien Reg. No.</td>
        <td colspan="3" class="col-head">9. Τελευταία ημερ. εισόδου στην Κύπρο/ Date of last entry in Cyprus</td>
        <td colspan="2" class="col-head">10. Υπογραφή/ Signature</td>
        <td class="col-head">11.Hμερ./ Date</td>
    </tr>

    <tr>
        <td colspan="2"></td>
        <td colspan="3"></td>
        <td colspan="2" class="text-center" >
            <br>
            …………………………………………..…………………………<br>Υπογραφή Αιτητή / Applicant’s Signature</td>
        <td class="text-center">
            <br>
            ............................
        </td>
    </tr>
    </tbody>
</table>

<table class="form mt-3 family-member1">


    <tbody>


    <tr>
        <td colspan="4" class="col-head">1. Αιτητής / Applicant</td>
        <td colspan="2" class="col-head">2. Ημ. Γέννησης (ΗΗ/ΜΜ/ΧΧΧΧ) <br> / Date Of Birth (DD/MM/YYYY)</td>
        <td colspan="2" class="col-head">3. Φύλο / Sex</td>
    </tr>
    <tr>
        <td colspan="4">Επώνυμο / Surname
            <br>
        </td>
        <td colspan="2"></td>
        <td class="text-center">
            <input type="checkbox"><br>
            Άρρεν/ Male
        </td>
        <td class="text-center">
            <input type="checkbox" class="mt-1"><br>
            Θήλυ / Female
        </td>
    </tr>
    <tr>
        <td rowspan="2" colspan="2">Όνομα (τα) / Name (s) <br>
            <br>


        </td>
        <td rowspan="2" colspan="2">Πατρικό ή άλλο Επώνυμο / <br>Middle or Other Surname<br>
            <br>


        </td>
        <td colspan="4" class="col-head">4. Τόπος Γέννησης (Πόλη & Χώρα) / Place Of Birth (City & Country)</td>
    </tr>
    <tr>
        <td colspan="4">
            <br>

        </td>
    </tr>
    <tr>
        <td colspan="2" class="col-head">5. Υπηκοότητα/ Nationality</td>
        <td colspan="3" class="col-head">6. Διαβατήριο ή Ταυτότητα/ Passport or Identity Card</td>
        <td colspan="3" class="col-head">
            7. Συγγένεια <span class="font-weight-normal">(υποβάλετε τα σχετικά πιστοποιητικά)/</span><br>
            Relationship <span class="font-weight-normal"> (submit all relevant certificates)</span>
        </td>
    </tr>

    <tr>
        <td rowspan="2" colspan="2"><br><br></td>
        <td colspan="3">Αριθμός / No.
        </td>
        <td rowspan="2" colspan="3"></td>
    </tr>
    <tr>
        <td colspan="3">Ημ. Λήξης / Date of Expiration

        </td>
    </tr>


    <tr>
        <td colspan="2" class="col-head">8. Αρ. Εγγραφής Αλλοδαπού/ Alien Reg. No.</td>
        <td colspan="3" class="col-head">9. Τελευταία ημερ. εισόδου στην Κύπρο/ Date of last entry in Cyprus</td>
        <td colspan="2" class="col-head">10. Υπογραφή/ Signature</td>
        <td class="col-head">11.Hμερ./ Date</td>
    </tr>

    <tr>
        <td colspan="2"></td>
        <td colspan="3"></td>
        <td colspan="2" class="text-center" >
            <br>
            …………………………………………..…………………………<br>Υπογραφή Αιτητή / Applicant’s Signature</td>
        <td class="text-center">
            <br>
            ............................
        </td>
    </tr>
    </tbody>
</table>

<table class="form mt-3 family-member1">


    <tbody>


    <tr>
        <td colspan="4" class="col-head">1. Αιτητής / Applicant</td>
        <td colspan="2" class="col-head">2. Ημ. Γέννησης (ΗΗ/ΜΜ/ΧΧΧΧ) <br> / Date Of Birth (DD/MM/YYYY)</td>
        <td colspan="2" class="col-head">3. Φύλο / Sex</td>
    </tr>
    <tr>
        <td colspan="4">Επώνυμο / Surname
            <br>
        </td>
        <td colspan="2"></td>
        <td class="text-center">
            <input type="checkbox"><br>
            Άρρεν/ Male
        </td>
        <td class="text-center">
            <input type="checkbox" class="mt-1"><br>
            Θήλυ / Female
        </td>
    </tr>
    <tr>
        <td rowspan="2" colspan="2">Όνομα (τα) / Name (s) <br>
            <br>


        </td>
        <td rowspan="2" colspan="2">Πατρικό ή άλλο Επώνυμο / <br>Middle or Other Surname<br>
            <br>


        </td>
        <td colspan="4" class="col-head">4. Τόπος Γέννησης (Πόλη & Χώρα) / Place Of Birth (City & Country)</td>
    </tr>
    <tr>
        <td colspan="4">
            <br>

        </td>
    </tr>
    <tr>
        <td colspan="2" class="col-head">5. Υπηκοότητα/ Nationality</td>
        <td colspan="3" class="col-head">6. Διαβατήριο ή Ταυτότητα/ Passport or Identity Card</td>
        <td colspan="3" class="col-head">
            7. Συγγένεια <span class="font-weight-normal">(υποβάλετε τα σχετικά πιστοποιητικά)/</span><br>
            Relationship <span class="font-weight-normal"> (submit all relevant certificates)</span>
        </td>
    </tr>

    <tr>
        <td rowspan="2" colspan="2"><br><br></td>
        <td colspan="3">Αριθμός / No.
        </td>
        <td rowspan="2" colspan="3"></td>
    </tr>
    <tr>
        <td colspan="3">Ημ. Λήξης / Date of Expiration

        </td>
    </tr>


    <tr>
        <td colspan="2" class="col-head">8. Αρ. Εγγραφής Αλλοδαπού/ Alien Reg. No.</td>
        <td colspan="3" class="col-head">9. Τελευταία ημερ. εισόδου στην Κύπρο/ Date of last entry in Cyprus</td>
        <td colspan="2" class="col-head">10. Υπογραφή/ Signature</td>
        <td class="col-head">11.Hμερ./ Date</td>
    </tr>

    <tr>
        <td colspan="2"></td>
        <td colspan="3"></td>
        <td colspan="2" class="text-center" >
            <br>
            …………………………………………..…………………………<br>Υπογραφή Αιτητή / Applicant’s Signature</td>
        <td class="text-center">
            <br>
            ............................
        </td>
    </tr>
    </tbody>
</table>

