

{#<table>#}
{#    <tr>#}
{#        <th colspan="2">ΜΕΡΟΣ III: ΒΕΒΑΙΩΣΗ ΠΡΟΣΛΗΨΗΣ ΑΠΟ ΤΟΝ ΕΡΓΟΔΟΤΗ<br>PART III: CONFIRMATION OF ENGAGEMENT BY THE EMPLOYER</th>#}
{#    </tr>#}
{#    <tr>#}
{#        <th>1. Όνομα Εργοδότη / Name of Employer</th>#}
{#        <th>2. Όνομα Εταιρείας / Name of Company</th>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>3. Τομέας Οικονομικής Δραστηριότητας Εργασίας / Επιχείρησης Εργοδότη / Economic Activity Sector of Work / of Employer’s Business</td>#}
{#        <td>4. Διεύθυνση Εργασίας / Work Address</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>Οδός και Αριθμός / Street and Number</td>#}
{#        <td>Αρ. Διαμ. / Apt. No.</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>5. Θέση η οποία έχει προσφερθεί ή κατέχεται από τον αιτητή/ τρια / Position offered or held by the applicant</td>#}
{#        <td>6. Προβλεπόμενη διάρκεια εργοδότησης με βάση το σχετικό συμβόλαιο/ Expected duration of employment under the relevant contract</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>Πόλη ή Χωριό / Town or Village</td>#}
{#        <td>Ταχ. Κώδικας / Postal Code</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>Επαρχία / District</td>#}
{#        <td>Διεύθυνση Εργασίας Αιτητή (εάν διαφέρει από την πιο πάνω)<br>Work Address of Applicant (if different from above)</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>7. Τηλέφωνο Εργασίας / Work Telephone</td>#}
{#        <td>8. Tηλεομοιότυπο / Fax Number</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>9. Υπογραφή / Signature</td>#}
{#        <td>10. Ημερομηνία και Σφραγίδα / Date and Stamp</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td colspan="2">…………………………………………..…………</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>Υπογραφή Εργοδότη / Employer’s Signature</td>#}
{#        <td>Σφραγίδα Εργοδότη / Employer’s Stamp</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>Ημερομηνία / Date</td>#}
{#        <td></td>#}
{#    </tr>#}
{#</table>#}



<table class="form mt-3 family-member1">


    <tbody>
    <tr>
        <td colspan="8">ΜΕΡΟΣ III: ΒΕΒΑΙΩΣΗ ΠΡΟΣΛΗΨΗΣ ΑΠΟ ΤΟΝ ΕΡΓΟΔΟΤΗ<br><br>PART III: CONFIRMATION OF ENGAGEMENT BY THE EMPLOYER
        </td>
    </tr>

    <tr>
        <td colspan="4" class="col-head">1. Όνομα Εργοδότη / Name of Employer</td>
        <td colspan="4" class="col-head">2. Όνομα Εταιρείας / Name of Company</td>
    </tr>
    <tr>
        <td colspan="4" ><br><br></td>
        <td colspan="4" ><br><br></td>
    </tr>
    <tr>
        <td colspan="4" class="col-head">3. Τομέας Οικονομικής Δραστηριότητας Εργασίας / Επιχείρησης Εργοδότη / Economic Activity Sector of Work / of Employer’s Business</td>
        <td colspan="4" class="col-head">4. Διεύθυνση Εργασίας / Work Address</td>
    </tr>
    <tr>
        <td colspan="4" ><br><br><br></td>
        <td colspan="3" >Οδός και Αριθμός / Street and Number</td>
        <td>Αρ. Διαμ. / Apt. No.</td>
    </tr>

    <tr>
        <td colspan="2" class="col-head">5. Θέση η οποία έχει προσφερθεί ή κατέχεται από τον αιτητή/ τρια / Position offered or held by the applicant</td>
        <td colspan="2" class="col-head">6. Προβλεπόμενη διάρκεια εργοδότησης με βάση το σχετικό συμβόλαιο/ Expected duration of employment under the relevant contract</td>
        <td colspan="2">Πόλη ή Χωριό / Town or Village</td>
        <td>Ταχ. Κώδικας / Postal Code</td>
        <td>Επαρχία / District</td>
    </tr>
<tr>
    <td colspan="2"><br><br><br><br> </td>
    <td colspan="2"><br><br> </td>
    <td colspan="4">Διεύθυνση Εργασίας Αιτητή (εάν διαφέρει από την πιο πάνω)<br>Work Address of Applicant (if different from above)</td>
</tr>

    <tr>
        <td class="col-head">7. Τηλέφωνο Εργασίας / Work Telephone</td>
        <td class="col-head">8. Tηλεομοιότυπο / Fax Number</td>
        <td colspan="4" class="col-head">9. Υπογραφή / Signature</td>
        <td colspan="2" class="col-head">10. Ημερομηνία και Σφραγίδα / Date and Stamp</td>
    </tr>


    <tr>
        <td></td>
        <td></td>
        <td colspan="4">
            <br><br>
            …………………………………………..…………………………<br><br>ΥΥπογραφή Εργοδότη / Employer’s Signature</td>
        <td colspan="2">
            Σφραγίδα Εργοδότη / Employer’s Stamp
            <br><br><br>
            Ημερομηνία / Date
        </td>
    </tr>
    </tbody>
</table>