<style>
    td{
        color:black;
        padding-left:20px;
        padding-right: 20px;
    }
</style>
<table class="text-center text-dark" >
    <br>
        <td>
            <img src="{{ asset('images/form/images/image001.png') }}" height="150px" width="150px">
        </td>
        <td>
            <p><strong>ΥΠΟΥΡΓΕΙΟ ΕΣΩΤΕΡΙΚΩΝ<br>
            MINISTRY OF INTERIOR<br>
            ΤΜΗΜΑ ΑΡΧΕΙΟΥ ΠΛΗΘΥΣΜΟΥ ΚΑΙ ΜΕΤΑΝΑΣΤΕΥΣΗΣ <br>
                CIVIL REGISTRY AND MIGRATION DEPARTMENT<br>

                Ο περί του Δικαιώματος των Πολιτών της Ένωσης και των Μελών των Οικογενειών τους να<br> Κυκλοφορούν και να

                Διαμένουν Ελεύθερα στη Δημοκρατία Νόμος του 2007,<br>
                    [ΠΑΡΑΡΤΗΜΑ V, Άρθρα 17(1) και 18(1)]<br>
            The Right of Union Citizens and their Family Members to Move and Reside Freely within the<br> Territory of
        the Republic of Cyprus Law of 2007,<br>
                    [ANNEX V, Articles 17(1) and 18(1)]
                </strong> </p>
        </td>
        <td>
            <img src="{{ asset('images/form/images/image003.png') }}" height="100px" width="150px">
        </td>
    </tr>

    <tr>
        <td><span style="font-size: 100px"><strong>A</strong></span></td>
        <td colspan="" style="padding-top:50px">
            <h6><strong>ΑΙΤΗΣΗ ΓΙΑ ΕΚΔΟΣΗ ΠΙΣΤΟΠΟΙΗΤΙΚΟΥ ΜΟΝΙΜΗΣ<br><br> ΔΙΑΜΟΝΗΣ ΠΟΛΙΤΗ ΤΗΣ ΕΝΩΣΗΣ ΚΑΙ ΜΕΛΩΝ ΤΗΣ <br><br>ΟΙΚΟΓΕΝΕΙΑΣ ΤΟΥ ΠΟΥ ΕΙΝΑΙ ΕΠΙΣΗΣ ΠΟΛΙΤΕΣ<br><br> ΤΗΣ ΕΝΩΣΗΣ
                    <br><br>  APPLICATION FOR THE ISSUE OF A PERMANENT REGISTRATION CERTIFICATE OF UNION CITIZEN AND HIS/HER FAMILY MEMBERS WHO ARE ALSO UNION CITIZENS</strong>

            </h6>
        </td>
        <td></td>
    </tr>
    <tr>
        <td><span style="font-size: 100px"><strong>B</strong></span></td>
        <td colspan="" style="padding-top:50px">
            <h6><strong>ΑΙΤΗΣΗ ΓΙΑ ΕΚΔΟΣΗ ΔΕΛΤΙΟΥ ΜΟΝΙΜΗΣ <br><br> ΔΙΑΜΟΝΗΣ ΓΙΑ ΜΕΛΗ ΤΗΣ ΟΙΚΟΓΕΝΕΙΑΣ ΤΟΥ  <br><br>ΠΟΛΙΤΗ ΤΗΣ ΕΝΩΣΗΣ ΠΟΥ ΔΕΝ ΕΙΝΑΙ ΥΠΗΚΟΟΙ<br><br>ΚΡΑΤΟΥΣ ΜΕΛΟΥΣ ΤΗΣ ΕΝΩΣΗΣ
                    <br><br> APPLICATION FOR THE ISSUE OF A PERMANENT RESIDENCE CARD FOR NON-EU CITIZENS FAMILY MEMBERS OF A UNION CITIZEN
                </strong>

            </h6>
        </td>
        <td></td>
    </tr>
    <tr style="padding-top:20px" >
        <td colspan="3" style="background-color:#d0cfcc"><strong>ΕΠΙΛΕΞΤΕ Α Ή Β ΑΝΑΛΟΓΑ <br>
                CHOOSE A OR B AS APPLICABLE</strong>
        </td>
    </tr>


    <tr>
    <td colspan="3" style="padding-top:70px">
        <hr style="margin: 0;">
        <p style="font-size: 14px"><strong>ΠΑΡΑΚΑΛΕΙΣΤΕ ΠΡΙΝ ΣΥΜΠΛΗΡΩΣΕΤΕ ΤΗΝ ΠΑΡΟΥΣΑ ΑΙΤΗΣΗ ΝΑ ΣΥΜΒΟΥΛΕΥΤΕΙΤΕ ΤΟΝ ΟΔΗΓΟ ΣΥΜΠΛΗΡΩΣΗΣ ΤΗΣ ΑΙΤΗΣΗΣ <br><br>
                PLEASE READ ALL INSTRUCTIONS BEFORE COMPLETING THIS APPLICATION</strong></p>
    </td>
</tr>

    </tbody>
</table>