<table class="form">


    <tbody>
    <tr>
        <td colspan="8"><strong>ΜΕΡΟΣ Ι: ΠΟΛΙΤΗΣ ΤΗΣ ΕΝΩΣΗΣ / PART I: UNION CITIZEN</strong><br>
            Να συμπληρωθεί με ΜΑΥΡΟ ή ΜΠΛΕ μελάνι ΜΟΝΟ. When completing this form, use BLUE or BLACK ink ONLY.
        </td>
    </tr>

    <tr>
        <td colspan="4" class="col-head">1. Αιτητής / Applicant</td>
        <td colspan="2" class="col-head">2. Ημ. Γέννησης (ΗΗ/ΜΜ/ΧΧΧΧ) <br> / Date Of Birth (DD/MM/YYYY)</td>
        <td colspan="2" class="col-head">3. Φύλο / Sex</td>
    </tr>
    <tr>
        <td colspan="4">Επώνυμο / Surname
            <br>
        </td>
        <td colspan="2"></td>
        <td class="text-center">
            <input type="checkbox"><br>
            Άρρεν/ Male
        </td>
        <td class="text-center">
            <input type="checkbox" class="mt-1"><br>
            Θήλυ / Female
        </td>
    </tr>
    <tr>
        <td rowspan="2" colspan="2">Όνομα (τα) / Name (s) <br>
            <br>
            <br>
            <br>
        </td>
        <td rowspan="2" colspan="2">Πατρικό ή άλλο Επώνυμο /<br>
            Middle or Other Surname
            <br>
            <br>
            <br>
            <br>
        </td>
        <td colspan="4" class="col-head">4. Τόπος Γέννησης (Πόλη & Χώρα) / Place Of Birth (City & Country)</td>
    </tr>
    <tr>
        <td colspan="4">
            <br>
            <br>
           <br>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="col-head">5. Υπηκοότητα/ Nationality</td>
        <td colspan="3" class="col-head">6. Διαβατήριο ή Ταυτότητα/ Passport or Identity Card</td>
        <td colspan="3" class="col-head">7. Αρ. Εγγραφής Αλλοδαπού/Alien Reg. No.</td>
    </tr>

            <tr>
                <td rowspan="2" colspan="2"><br><br></td>
                <td colspan="3">Αριθμός / No.
                    <br><br>
                </td>
                <td rowspan="2" colspan="3"></td>
{#                <td>Ημ. Λήξης / Date of Expiration</td>#}
{#                <td>8. Ημ. έκδοσης Βεβαίωσης Εγγραφής ή προβλεπόμενη περίοδος διαμονής / Registr. Certificate issue date or envisaged period of residence:</td>#}
            </tr>
    <tr>
        <td colspan="3">Ημ. Λήξης / Date of Expiration
            <br><br>
        </td>
    </tr>

    <tr>
        <td colspan="8" class="col-head">8. Ημ. έκδοσης Βεβαίωσης Εγγραφής /Registration Certificate issue date Card (υποβάλετε φωτοαντίγραφο/ please submit a copy)</td>
    </tr>
    <tr>
        <td colspan="8">
            <br>
        </td>
    </tr>
            <tr>
                <td colspan="5" class="col-head">9. Οικογενειακή Κατάσταση / Family Status</td>
                <td colspan="3" class="col-head"> 10. Διεύθυνση Διαμονής στην Κύπρο / Residence Address in Cyprus</td>

            </tr>
            <tr>
                <td class="text-center"><input type="checkbox" class="mt-1"><br>
                    Έγγαμος/η <br>Married
                </td>
                <td class="text-center"><input type="checkbox"><br>
                    Άγαμος/η <br>Single
                </td>
                <td class="text-center"><input type="checkbox"><br>
                    Διαζευγμένος/η<br> Divorced
                </td>
                <td class="text-center"><input type="checkbox"><br>
                    Σε διάσταση/ <br>Separated
                </td>
                <td class="text-center"><input type="checkbox"><br>
                    Χήρος/α <br> Widowed
                </td>
                <td colspan="2">Οδός και Αριθμός / Street and Number
                <br>
                </td>
                <td>Αρ. Διαμ. / Apt. Nο.</td>
            </tr>
            <tr>
                <td colspan="3" class="col-head">11. Ηλεκτρονικό Ταχυδρομείο/ Email (Προαιρετικό / Optional)</td>
                <td colspan="2" class="col-head">12. Τελευταία ημερ. εισόδου στην Κύπρο/ Date of last entry in Cyprus</td>
                <td>Πόλη ή Κοινότητα / Town or Village<br><br><br></td>
                <td>Ταχ. Κώδικας / Postal Code</td>
                <td>Επαρχία / District</td>
            </tr>
    <tr>
        <td colspan="3"></td>
        <td colspan="2"></td>
        <td colspan="3">Ταx. Διεύθυνση (εάν είναι η ίδια με πιο πάνω αναγράψετε “ Ίδια με πιο πάνω”)/ Postal Address (If same as Residence address write “Same as above”)
        <br><br><br>
        </td>
    </tr>
    <tr>
        <td colspan="5" class="col-head">13. Τηλ. Επικοινωνίας / Contact Tel.</td>
        <td class="col-head">14. Τηλ. Εργασίας / Work Tel.</td>
        <td colspan="2" class="col-head">15. Τηλεομοιότυπο / Fax Number (Προαιρετικό / Optional)</td>
    </tr>
    <tr>
        <td colspan="5"><br></td>
        <td><br></td>
        <td colspan="2"><br></td>
    </tr>
            <tr>
                <td colspan="6" class="col-head">16. Υπογραφή / Signature</td>
                <td colspan="2" class="col-head">17. Ημερομηνία / Date</td>
            </tr>
            <tr>
                <td colspan="6" >
                    <br><br>
                    …………………………………………..…………………………<br><strong>Υπογραφή Αιτητή / Applicant’s Signature</strong></td>
                <td colspan="2">
                    <br><br>
                    .............................
                </td>
            </tr>
    </tbody>
</table>

