

<table class="form mt-3 family-member1">


    <tbody>
    <tr>
        <td colspan="8"><strong>
                ΜΕΡΟΣ II: ΜΕΛΗ ΤΗΣ ΟΙΚΟΓΕΝΕΙΑΣ ΠΟΛΙΤΗ ΤΗΣ ΕΝΩΣΗΣ ΠΟΥ ΕΙΝΑΙ ΕΠΙΣΗΣ ΠΟΛΙΤΕΣ ΤΗΣ ΕΝΩΣΗΣ /<br>PART II: EU CITIZENS, FAMILY MEMBERS OF A UNION CITIZEN
            </strong><br>
            Να συμπληρωθεί με ΜΑΥΡΟ ή ΜΠΛΕ μελάνι ΜΟΝΟ. When completing this form, use BLUE or BLACK ink ONLY.
        </td>
    </tr>

    <tr>
        <td colspan="4" class="col-head">1. Αιτητής / Applicant</td>
        <td colspan="2" class="col-head">2. Ημ. Γέννησης (ΗΗ/ΜΜ/ΧΧΧΧ) <br> / Date Of Birth (DD/MM/YYYY)</td>
        <td colspan="2" class="col-head">3. Φύλο / Sex</td>
    </tr>
    <tr>
        <td colspan="4">Επώνυμο / Surname
            <br>
        </td>
        <td colspan="2"></td>
        <td class="text-center">
            <input type="checkbox"><br>
            Άρρεν/ Male
        </td>
        <td class="text-center">
            <input type="checkbox" class="mt-1"><br>
            Θήλυ / Female
        </td>
    </tr>
    <tr>
        <td rowspan="2" colspan="2">Όνομα (τα) / Name (s) <br>
            <br>


        </td>
        <td rowspan="2" colspan="2">Πατρικό ή άλλο Επώνυμο / <br>Middle or Other Surname<br>
            <br>


        </td>
        <td colspan="4" class="col-head">4. Τόπος Γέννησης (Πόλη & Χώρα) / Place Of Birth (City & Country)</td>
    </tr>
    <tr>
        <td colspan="4">
            <br>

        </td>
    </tr>
    <tr>
        <td colspan="2" class="col-head">5. Υπηκοότητα/ Nationality</td>
        <td colspan="3" class="col-head">6. Διαβατήριο ή Ταυτότητα/ Passport or Identity Card</td>
        <td colspan="3" class="col-head">
            7. Συγγένεια <span class="font-weight-normal">(υποβάλετε τα σχετικά πιστοποιητικά)/</span><br>
            Relationship <span class="font-weight-normal"> (submit all relevant certificates)</span>
        </td>
    </tr>

    <tr>
        <td rowspan="2" colspan="2"><br><br></td>
        <td colspan="3">Αριθμός / No.
        </td>
        <td rowspan="2" colspan="3"></td>
    </tr>
    <tr>
        <td colspan="3">Ημ. Λήξης / Date of Expiration

        </td>
    </tr>


    <tr>
        <td colspan="4" class="col-head">8. Ημ. έκδοσης Βεβαίωσης Εγγραφής /Registration Certificate issue date
            (υποβάλετε φωτοαντίγραφο/ please submit a copy)</td>

        <td colspan="3" class="col-head">9. Υπογραφή/ Signature</td>
        <td class="col-head">10.Hμερ./ Date</td>
    </tr>

    <tr>
        <td colspan="4"></td>

        <td colspan="3" >
            <br>
            …………………………………………..…………………………<br>Υπογραφή Αιτητή / Applicant’s Signature</td>
        <td>
            <br>
            ............................
        </td>
    </tr>
    </tbody>
</table>

<table class="form mt-3 family-member1">


    <tbody>
    <tr>
        <td colspan="4" class="col-head">1. Αιτητής / Applicant</td>
        <td colspan="2" class="col-head">2. Ημ. Γέννησης (ΗΗ/ΜΜ/ΧΧΧΧ) <br> / Date Of Birth (DD/MM/YYYY)</td>
        <td colspan="2" class="col-head">3. Φύλο / Sex</td>
    </tr>
    <tr>
        <td colspan="4">Επώνυμο / Surname
            <br>
        </td>
        <td colspan="2"></td>
        <td class="text-center">
            <input type="checkbox"><br>
            Άρρεν/ Male
        </td>
        <td class="text-center">
            <input type="checkbox" class="mt-1"><br>
            Θήλυ / Female
        </td>
    </tr>
    <tr>
        <td rowspan="2" colspan="2">Όνομα (τα) / Name (s) <br>
            <br>


        </td>
        <td rowspan="2" colspan="2">Πατρικό ή άλλο Επώνυμο / <br>Middle or Other Surname<br>
            <br>


        </td>
        <td colspan="4" class="col-head">4. Τόπος Γέννησης (Πόλη & Χώρα) / Place Of Birth (City & Country)</td>
    </tr>
    <tr>
        <td colspan="4">
            <br>

        </td>
    </tr>
    <tr>
        <td colspan="2" class="col-head">5. Υπηκοότητα/ Nationality</td>
        <td colspan="3" class="col-head">6. Διαβατήριο ή Ταυτότητα/ Passport or Identity Card</td>
        <td colspan="3" class="col-head">
            7. Συγγένεια <span class="font-weight-normal">(υποβάλετε τα σχετικά πιστοποιητικά)/</span><br>
            Relationship <span class="font-weight-normal"> (submit all relevant certificates)</span>
        </td>
    </tr>

    <tr>
        <td rowspan="2" colspan="2"><br><br></td>
        <td colspan="3">Αριθμός / No.
        </td>
        <td rowspan="2" colspan="3"></td>
    </tr>
    <tr>
        <td colspan="3">Ημ. Λήξης / Date of Expiration

        </td>
    </tr>


    <tr>
        <td colspan="4" class="col-head">8. Ημ. έκδοσης Βεβαίωσης Εγγραφής /Registration Certificate issue date
            (υποβάλετε φωτοαντίγραφο/ please submit a copy)</td>

        <td colspan="3" class="col-head">9. Υπογραφή/ Signature</td>
        <td class="col-head">10.Hμερ./ Date</td>
    </tr>

    <tr>
        <td colspan="4"></td>

        <td colspan="3" >
            <br>
            …………………………………………..…………………………<br>Υπογραφή Αιτητή / Applicant’s Signature</td>
        <td>
            <br>
            ............................
        </td>
    </tr>
    </tbody>
</table>
