
{#<table>#}
{#    <tr>#}
{#        <th colspan="2">ΜΕΡΟΣ IV: ΔΗΛΩΣΗ ΜΗ ΜΙΣΘΩΤΗΣ ΔΡΑΣΤΗΡΙΟΤΗΤΑΣ<br>PART IV: DECLARATION OF SELF-EMPLOYMENT</th>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>1. Είδος Υπηρεσίας / Type of Service</td>#}
{#        <td>2. Διεύθυνση Εργασίας / Work Address</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>Οδός και Αριθμός / Street and Number</td>#}
{#        <td>Αρ. Διαμ. / Apt. Νο.</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>3. Ηλεκτρονικό Ταχυδρομείο / E-mail Address</td>#}
{#        <td>4. Τηλ. Εργασίας / Work Telephone</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>5. Τηλεμοιότυπο / Fax Number</td>#}
{#        <td>Πόλη ή Χωριό / Town or Village</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>Ταχ. Κώδικας / Postal Code</td>#}
{#        <td>Επαρχία / District</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>Διεύθυνση Εργασίας Αιτητή (εάν διαφέρει από την πιο πάνω)<br>Work Address of Applicant (if different from above)</td>#}
{#        <td>6. Ημ. Εγγραφής στις Υπηρεσίες Κοινωνικών Ασφαλίσεων (επισυνάψετε απόδειξη της σχετικής εγγραφής) /<br>Date of Registration with the Social Securities Services (please attach proof of registration)</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>7. Υπογραφή και Όνομα Αιτητή (ολογράφως) / Signature and Name of the Applicant (Full name)</td>#}
{#        <td>Για Υπηρεσιακή Χρήση Μόνο<br>For Official Use Only</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td colspan="2">APPLICATION APPROVAL</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>ΕΓΚΡΙΣΗ ΑΙΤΗΣΗΣ<br>APPLICATION APPROVAL</td>#}
{#        <td></td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td colspan="2">…………………………………………..…………</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>Υπογραφή Αιτητή / Applicant’s Signature</td>#}
{#        <td></td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>Δελτία Ταυτότητας / Identity Cards<br>Πιστοποιητικά Γεννήσης / Birth Certificates<br>Συμβόλαια Εργοδότη / Employer’s Contracts<br>Αντίγραφα Διαβατηρίων / Copies of Passports<br>Πιστοποιητικά Γάμου / Marriage Certificates<br>Passports Άλλα / Other</td>#}
{#        <td>Εγκρίθηκε από / Approved by<br>Ημερομηνία / Date<br>Αρ. Απόδειξης(εων)/ Receipt No.</td>#}
{#    </tr>#}
{#</table>#}









<table class="form mt-3 family-member1">


    <tbody>
    <tr>
        <td colspan="8">ΜΕΡΟΣ IV: ΔΗΛΩΣΗ ΜΗ ΜΙΣΘΩΤΗΣ ΔΡΑΣΤΗΡΙΟΤΗΤΑΣ<br><br>PART IV: DECLARATION OF SELF-EMPLOYMENT
        </td>
    </tr>

    <tr>
        <td colspan="5" class="col-head">1. Είδος Υπηρεσίας / Type of Service</td>
        <td colspan="3" class="col-head">2. Διεύθυνση Εργασίας / Work Address</td>
    </tr>
    <tr>
        <td colspan="5" ><br><br><br></td>
        <td colspan="2" >Οδός και Αριθμός / Street and Number</td>
        <td>Αρ. Διαμ. / Apt. No.</td>
    </tr>
    <tr>
        <td colspan="3" class="col-head">3. Ηλεκτρονικό Ταχυδρομείο / E-mail Address</td>
        <td class="col-head">4. Τηλ. Εργασίας / Work Telephone  </td>
        <td class="col-head">5. Τηλεμοιότυπο / Fax Number</td>
        <td rowspan="2">Πόλη ή Χωριό / Town or Village</td>
        <td rowspan="2">Ταχ. Κώδικας / Postal Code</td>
        <td rowspan="2">Ταχ. Κώδικας / Postal Code</td>
    </tr>

    <tr>
        <td colspan="3"><br><br><br></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="col-head" colspan="8">
            Διεύθυνση Εργασίας Αιτητή (εάν διαφέρει από την πιο πάνω) Work Address of Applicant (if different from above)
        </td>
    </tr>
    <tr>
        <td colspan="8"><br><br><br></td>
    </tr>
    <tr>
        <td colspan="2" class="col-head">
            6. Ημ. Εγγραφής στις Υπηρεσίες Κοινωνικών Ασφαλίσεων (επισυνάψετε απόδειξη της σχετικής εγγραφής) /<br>Date of Registration with the Social Securities Services (please attach proof of registration)
        </td>
        <td colspan="4" class="col-head">
            7. Υπογραφή και Όνομα Αιτητή (ολογράφως) / Signature and Name of the Applicant (Full name)
        </td>
        <td colspan="2" rowspan="3">
            Για Υπηρεσιακή Χρήση Μόνο<br>For Official Use Only
            <div class="border text-center" style="height: 160px;margin-left:15px;margin-bottom: 15px">
                ΕΓΚΡΙΣΗ ΑΙΤΗΣΗΣ<br><br>APPLICATION APPROVAL
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2" rowspan="2"><br><br><br><br><br></td>
        <td colspan="4" rowspan="2"></td>
    </tr>
    <tr>

    </tr>

    </tbody>
</table>