<style>
    .col-12 {
        background: white;
        padding: 25px
    }

    table {
        border: none;
        width: 100%;
        color: black;
    }

    th {
        padding-left: 10px

    }

    input[type="checkbox"] {
        border-radius: unset;
        width: 20px;
        height: 20px;
    }

    td {
        padding-top: 10px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-12">
            <table>

                <tbody>

                <tr>
                    <td style="background: #b9b9b9">
                        <h5><strong>4. REQUESTED BANKING SERVICES </strong></h5>
                    </td>
                </tr>

                <tr>
                    <td>

                        <span style="margin-left:10px">
                                <input type="checkbox">
                        </span>
                        <span style="margin-left:3px">
                              Sight / current account
                        </span>
                        <span style="margin-left:50px">
                            Currency
                        </span>
                        <span style="margin-left:10px">
                                <input type="text">
                        </span>

                        <span style="margin-left:50px">
                                <input type="checkbox">
                        </span>
                        <span style="margin-left:3px">
                              Trading Account
                        </span>
                        <span style="margin-left:50px">
                            Currency
                        </span>
                        <span style="margin-left:10px">
                                <input type="text">
                        </span>

                    </td>
                </tr>
                <tr>
                    <td>

                        <span style="margin-left:10px">
                                <input type="checkbox">
                        </span>
                        <span style="margin-left:3px">
                              Fixed Deposit account
                        </span>
                        <span style="margin-left:50px">
                            Currency
                        </span>
                        <span style="margin-left:10px">
                                <input type="text">
                        </span>

                        <span style="margin-left:50px">
                                <input type="checkbox">
                        </span>
                        <span style="margin-left:3px">
                              Debit card
                        </span>
                        <span style="margin-left:50px">
                            Currency
                        </span>
                        <span style="margin-left:10px">
                                <input type="text">
                        </span>

                    </td>
                </tr>
                <tr>
                    <td>

                        <span style="margin-left:10px">
                                <input type="checkbox">
                        </span>
                        <span style="margin-left:3px">
                             Internet banking
                        </span>


                    </td>
                </tr>
                <tr>
                    <td>

                        <span style="margin-left:10px">
                                <input type="checkbox">
                        </span>
                        <span style="margin-left:3px">
                          Treasury Sales Products - Dealing Room Services
                        </span>


                    </td>
                </tr>

                <tr>
                    <td>

                        <span style="margin-left:10px">
                                <input type="checkbox">
                        </span>
                        <span style="margin-left:3px">
                            Other
                        </span>
                        <span style="margin-left:10px">
                                <input type="text">
                        </span>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
