<style>
    .col-12 {
        background: white;
        padding: 25px
    }

    table {
        border: none;
        width: 100%;
        color: black;
    }

    th {
        padding-left: 10px

    }

    input[type="checkbox"] {
        border-radius: unset;
        width: 20px;
        height: 20px;
    }

    td {
        padding-top: 10px;
    }
    .table-border-column td{
        border:1px solid #b4b4b4;
        text-align: center;
    }
    .table-border-column-second td{
        border:1px solid #b4b4b4;
        text-align:left;
        padding-left: 10px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-12">
            <table>

                <tbody>

                <tr>
                    <td style="background: #b9b9b9" colspan="4">
                        <h5><strong> 2. FINANCIAL INFORMATION</strong></h5>
                    </td>
                </tr>
                <tr>
                    <td style="padding-top:10px" colspan="4"></td>
                </tr>
                <tr>
                    <td colspan="4">
                            <span>
                               Occupation:
                            </span>
                        <span>
                                <input type="text" name="fatherName" style="width: 900px">
                            </span>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                            <span>
                               Employer’s name:
                            </span>
                        <span>
                                <input type="text" name="fatherName" style="width: 900px">
                            </span>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <strong> Employer’s Address</strong>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">

                        <span>Number & street:</span>
                        <span>
                                 <input type="text" name="fatherName" style="width: 800px">
                            </span>

                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <span style="width: 33%">
                          <span>Postal code:</span>
                            <span>
                                 <input type="text" name="fatherName" style="width: 200px">
                            </span>
                        </span>
                        <span style="width: 33%">
                             <span>Town:</span>
                            <span>
                                 <input type="text" name="fatherName" style="width: 200px">
                            </span>
                        </span>
                        <span style="width: 33%">
                              <span>Country:</span>
                            <span>
                                 <input type="text" name="fatherName" style="width: 200px">
                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                            <span>
                               Value of Assets:
                            </span>
                        <span>
                                <input type="text" name="fatherName" style="width: 900px">
                            </span>
                    </td>
                </tr>

                <tr>
                    <td style="padding-top:10px" colspan="4">

                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        Expected Annual Dr turnover on account (equivalent in €):
                    </td>
                </tr>
                <tr class="table-border-column">
                    <td>
                        Current Year
                    </td>
                    <td colspan="3">
                        Amount in €
                    </td>

                </tr>

                <tr  class="table-border-column">
                    <td>
                        <br>
                    </td>
                    <td colspan="3">
                        <br>
                    </td>

                </tr>
                <tr>
                    <td colspan="4">
                        Expected Annual Cr turnover on account (equivalent in €):
                    </td>
                </tr>
                <tr class="table-border-column">
                    <td>
                        Current Year
                    </td>
                    <td colspan="3">
                        Amount in €
                    </td>

                </tr>

                <tr  class="table-border-column">
                    <td>
                        <br>
                    </td>
                    <td colspan="3">
                        <br>
                    </td>
                </tr>

                <tr>
                    <td colspan="4">
                        Source / Value of Income:
                    </td>
                </tr>
                <tr class="table-border-column-second">
                   <td>
                       Type
                   </td>
                    <td colspan="2">
                        Description
                    </td>
                    <td>
                        Amount
                    </td>
                </tr>
                <tr class="table-border-column-second">
                    <td>
                      <input type="checkbox"> Salary
                    </td>
                    <td colspan="2">

                    </td>
                    <td>

                    </td>
                </tr>
                <tr class="table-border-column-second">
                    <td>
                        <input type="checkbox"> Pension / Allowance
                    </td>
                    <td colspan="2">

                    </td>
                    <td>

                    </td>
                </tr>
                <tr class="table-border-column-second">
                    <td>
                        <input type="checkbox"> Rent
                    </td>
                    <td colspan="2">

                    </td>
                    <td>

                    </td>
                </tr>
                <tr class="table-border-column-second">
                    <td>
                        <input type="checkbox"> Interest
                    </td>
                    <td colspan="2">

                    </td>
                    <td>

                    </td>
                </tr>
                <tr class="table-border-column-second">
                    <td>
                        <input type="checkbox"> Dividents
                    </td>
                    <td colspan="2">

                    </td>
                    <td>

                    </td>
                </tr>
                <tr class="table-border-column-second">
                    <td>
                        <input type="checkbox"> Minor Savings
                    </td>
                    <td colspan="2">

                    </td>
                    <td>

                    </td>
                </tr>
                <tr class="table-border-column-second">
                    <td>
                        <input type="checkbox"> Student Allowance
                    </td>
                    <td colspan="2">

                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="padding-top:20px">

                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        Source / Value of Wealth:
                    </td>
                </tr>
                <tr class="table-border-column-second">
                    <td>
                        Type
                    </td>
                    <td colspan="2">
                        Description
                    </td>
                    <td>
                        Amount
                    </td>
                </tr>
                <tr class="table-border-column-second">
                    <td>
                        <input type="checkbox"> Immovable Property
                    </td>
                    <td colspan="2">

                    </td>
                    <td>

                    </td>
                </tr>
                <tr class="table-border-column-second">
                    <td>
                        <input type="checkbox"> Movable Property
                    </td>
                    <td colspan="2">

                    </td>
                    <td>

                    </td>
                </tr>
                <tr class="table-border-column-second">
                    <td>
                        <input type="checkbox"> Shares
                    </td>
                    <td colspan="2">

                    </td>
                    <td>

                    </td>
                </tr>
                <tr class="table-border-column-second">
                    <td>
                        <input type="checkbox"> Bonds
                    </td>
                    <td colspan="2">

                    </td>
                    <td>

                    </td>
                </tr>
                <tr class="table-border-column-second">
                    <td>
                        <input type="checkbox"> Deposits
                    </td>
                    <td colspan="2">

                    </td>
                    <td>

                    </td>
                </tr>
                <tr class="table-border-column-second">
                    <td>
                        <input type="checkbox"> Other
                    </td>
                    <td colspan="2">

                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        Purpose/reason of application for opening the account: i.e deposits/savings, commercial payments, card facilities, credit facilities, other<br>
                        (please specify)<br>
                        <input type="text" name="comment" style="height: 50px;width: 100%">
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        Nature of the transactions to be performed: i.e transfers, inward payments, outward payments, cheque deposits, cash deposits, use of
                        cards, proceeds of credit facilities, letters of credit, other (please specify)<br>
                        <input type="text" name="comment" style="height: 50px;width: 100%">
                    </td>
                </tr>

                </tbody>
            </table>
            <table>
                <tbody>
                <tr>
                    <td colspan="6">
                        Expected origin of incoming funds:
                    </td>
                </tr>
                <tr class="table-border-column-second">
                  <td></td>
                    <td>Name of orderor</td>
                    <td>Address</td>
                    <td>Website of orderor</td>
                    <td>Country of orderor’s bank</td>
                    <td>Business activities of orderor</td>
                </tr>
                <tr class="table-border-column-second">
                    <td>1<br><br></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="table-border-column-second">
                    <td>2<br><br></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="table-border-column-second">
                    <td>3<br><br></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="table-border-column-second">
                    <td>4<br><br></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                <tr>
                    <td colspan="6">
                        Expected destination of outgoing payments:
                    </td>
                </tr>
                <tr class="table-border-column-second">
                    <td></td>
                    <td>Name of beneficiary</td>
                    <td>Address</td>
                    <td>Website of beneficiary</td>
                    <td>Country of beneficiary’s bank</td>
                    <td>Business activities of beneficiary</td>
                </tr>
                <tr class="table-border-column-second">
                    <td>1<br><br></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="table-border-column-second">
                    <td>2<br><br></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="table-border-column-second">
                    <td>3<br><br></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="table-border-column-second">
                    <td>4<br><br></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
