<style>
    .col-12 {
        background: white;
        padding: 25px
    }

    table {
        border: none;
        width: 100%;
        color: black;
    }

    th {
        padding-left: 10px

    }

    input[type="checkbox"] {
        border-radius: unset;
        width: 20px;
        height: 20px;
    }

    td {
        padding-top: 10px;
    }
</style>
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <table>
                <thead>
                <tr>
                    <th style="background: #b9b9b9">
                        <h3><strong>New Account Questionnaire – Personal Account</strong></h3>
                    </th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="padding-top:25px"></td>
                </tr>
                <tr>
                    <td>The purpose of this questionnaire is to provide all necessary information that will enable
                        the Bank to evaluate and approve your request.
                    </td>
                </tr>
                <tr>
                    <td style="padding-top:25px"></td>
                </tr>
                <tr>
                    <td style="background: #b9b9b9">
                        <h5><strong> 1A. APPLICANT’S GENERAL INFORMATION </strong></h5>
                    </td>
                </tr>
                <tr>
                    <td style="padding-top:10px"></td>
                </tr>
                <tr>
                    <td>
                        Personal Account
                        <span style="margin-left:10px">
                                <input type="checkbox">
                            </span>
                        <span style="margin-left:90px">
                                Joint Personal Account
                            </span>
                        <span style="margin-left:10px">
                                <input type="checkbox">
                            </span>
                        <span style="margin-left:10px">
                            (If Joint Personal Account, please complete a separate form for each Individual)
                            </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>
                            Title:
                        </span>

                        <span style="margin-left:10px">
                                <input type="checkbox">
                        </span>
                        <span style="margin-left:3px">
                                Mr
                        </span>
                        <span style="margin-left:10px">
                                <input type="checkbox">
                        </span>
                        <span style="margin-left:3px">
                                Mrs
                        </span>
                        <span style="margin-left:10px">
                                <input type="checkbox">
                        </span>
                        <span style="margin-left:3px">
                                Ms
                        </span>
                        <span style="margin-left:10px">
                                <input type="checkbox">
                        </span>
                        <span style="margin-left:3px">
                                Dr
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                            <span>
                                Full Name:
                            </span>
                        <span style="margin-left:30px">
                                <input type="text" name="fullName" style="width: 900px">
                                <br>
                                <span style="margin-left:100px"> (as it appears on the passport or identification card)</span>
                            </span>
                    </td>
                </tr>
                <tr>
                    <td>
                            <span>
                               Father’s name:
                            </span>
                        <span>
                                <input type="text" name="fatherName" style="width: 900px">
                            </span>
                    </td>
                </tr>
                <tr>
                    <td>
                            <span>
                              Mother’s name:
                            </span>
                        <span>
                                <input type="text" name="fatherName" style="width: 900px">
                            </span>
                    </td>
                </tr>
                <tr>
                    <td>
                           <span>
                              Date of birth:
                            </span>
                        <span>
                                <input type="text" name="fatherName" style="width: 500px">
                            </span>
                        <span style="margin-left:25px">
                              Nationality:
                            </span>
                        <span>
                                <input type="text" name="fatherName" style="width: 300px">
                            </span>
                    </td>
                </tr>
                <tr>
                    <td>
                            <span>
                          City & country of birth:
                            </span>
                        <span>
                                <input type="text" name="fatherName" style="width: 850px">
                            </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>
                           Family status:
                        </span>

                        <span style="margin-left:10px">
                                <input type="checkbox">
                        </span>
                        <span style="margin-left:3px">
                               Single
                        </span>
                        <span style="margin-left:10px">
                                <input type="checkbox">
                        </span>
                        <span style="margin-left:3px">
                               Married
                        </span>
                        <span style="margin-left:10px">
                                <input type="checkbox">
                        </span>
                        <span style="margin-left:3px">
                               Widow
                        </span>
                        <span style="margin-left:10px">
                                <input type="checkbox">
                        </span>
                        <span style="margin-left:3px">
                                Divorced
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>
                          Is Applicant a Trustee?
                        </span>

                        <span style="margin-left:10px">
                                <input type="checkbox">
                        </span>
                        <span style="margin-left:3px">
                               YES
                        </span>
                        <span style="margin-left:10px">
                                <input type="checkbox">
                        </span>
                        <span style="margin-left:3px">
                              NO
                        </span>


                    </td>
                </tr>
                <tr>
                    <td>
                           <span>
                            Name of Trust:
                            </span>
                        <span>
                                <input type="text" name="fatherName" style="width: 400px">
                            </span>
                        <span style="margin-left:25px">
                              Trust Registration Country:
                            </span>
                        <span>
                                <input type="text" name="fatherName" style="width: 280px">
                            </span>
                    </td>
                </tr>
                <tr>
                    <td>
                           <span>
                           CY Trust Registration Number:
                            </span>
                        <span>
                                <input type="text" name="fatherName" style="width: 300px">
                            </span>
                        <span style="margin-left:25px">
                              CY Trust Registration Date:
                            </span>
                        <span>
                                <input type="text" name="fatherName" style="width: 270px">
                            </span>
                    </td>
                </tr>
                <tr>
                    <td style="padding-top:15px"></td>
                </tr>
                <tr>
                    <td style="background:#e2e2e2;padding-top: 5px;padding-bottom: 5px;padding-left:10px"><strong>Identification
                            details</strong></td>
                </tr>
                <tr>
                    <td>
                        <strong> Passport</strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="width: 33%">
                          <span>Number:</span>
                            <span>
                                 <input type="text" name="fatherName" style="width: 200px">
                            </span>
                        </span>
                        <span style="width: 33%">
                             <span>Expiry date (dd/mm/yy):</span>
                            <span>
                                 <input type="text" name="fatherName" style="width: 200px">
                            </span>
                        </span>
                        <span style="width: 33%">
                              <span>Country of issue:</span>
                            <span>
                                 <input type="text" name="fatherName" style="width: 200px">
                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="width: 33%">
                          <span>Number:</span>
                            <span>
                                 <input type="text" name="fatherName" style="width: 200px">
                            </span>
                        </span>
                        <span style="width: 33%">
                             <span>Expiry date (dd/mm/yy):</span>
                            <span>
                                 <input type="text" name="fatherName" style="width: 200px">
                            </span>
                        </span>
                        <span style="width: 33%">
                              <span>Country of issue:</span>
                            <span>
                                 <input type="text" name="fatherName" style="width: 200px">
                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong> Identity Card</strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="width: 33%">
                          <span>Number:</span>
                            <span>
                                 <input type="text" name="fatherName" style="width: 200px">
                            </span>
                        </span>
                        <span style="width: 33%">
                             <span>Expiry date (dd/mm/yy):</span>
                            <span>
                                 <input type="text" name="fatherName" style="width: 200px">
                            </span>
                        </span>
                        <span style="width: 33%">
                              <span>Country of issue:</span>
                            <span>
                                 <input type="text" name="fatherName" style="width: 200px">
                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="width: 33%">
                          <span>Number:</span>
                            <span>
                                 <input type="text" name="fatherName" style="width: 200px">
                            </span>
                        </span>
                        <span style="width: 33%">
                             <span>Expiry date (dd/mm/yy):</span>
                            <span>
                                 <input type="text" name="fatherName" style="width: 200px">
                            </span>
                        </span>
                        <span style="width: 33%">
                              <span>Country of issue:</span>
                            <span>
                                 <input type="text" name="fatherName" style="width: 200px">
                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong> Residential Address</strong>
                    </td>
                </tr>
                <tr>
                    <td>

                        <span>Number & street:</span>
                        <span>
                                 <input type="text" name="fatherName" style="width: 200px">
                            </span>

                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="width: 33%">
                          <span>Postal code:</span>
                            <span>
                                 <input type="text" name="fatherName" style="width: 200px">
                            </span>
                        </span>
                        <span style="width: 33%">
                             <span>Town:</span>
                            <span>
                                 <input type="text" name="fatherName" style="width: 200px">
                            </span>
                        </span>
                        <span style="width: 33%">
                              <span>Country:</span>
                            <span>
                                 <input type="text" name="fatherName" style="width: 200px">
                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong> Correspondence Address</strong>
                    </td>
                </tr>
                <tr>
                    <td>


                            <span style="margin-left:10px">
                                <input type="checkbox">
                        </span>
                        <span style="margin-left:3px">
                             Residential address
                        </span>
                        <span style="margin-left:10px">
                                <input type="checkbox">
                        </span>
                        <span style="margin-left:3px">
                              Other (please specify and complete below)
                        </span>


                    </td>
                </tr>
                <tr>
                    <td>

                        <span>Number & street:</span>
                        <span>
                                 <input type="text" name="fatherName" style="width: 200px">
                            </span>

                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="width: 33%">
                          <span>Postal code:</span>
                            <span>
                                 <input type="text" name="fatherName" style="width: 200px">
                            </span>
                        </span>
                        <span style="width: 33%">
                             <span>Town:</span>
                            <span>
                                 <input type="text" name="fatherName" style="width: 200px">
                            </span>
                        </span>
                        <span style="width: 33%">
                              <span>Country:</span>
                            <span>
                                 <input type="text" name="fatherName" style="width: 200px">
                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong> Contact Details</strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="width: 50%">
                          <span>Home telephone no.:</span>
                            <span>
                                 <input type="text" name="fatherName" style="width: 200px">
                            </span>
                        </span>
                        <span style="width: 50%">
                             <span>Work telephone no.:</span>
                            <span>
                                 <input type="text" name="fatherName" style="width: 200px">
                            </span>
                        </span>

                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="width: 50%">
                          <span>Home telephone no.:</span>
                            <span>
                                 <input type="text" name="fatherName" style="width: 200px">
                            </span>
                        </span>
                        <span style="width: 50%">
                             <span>Work telephone no.:</span>
                            <span>
                                 <input type="text" name="fatherName" style="width: 200px">
                            </span>
                        </span>

                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="width: 50%">
                          <span>Mobile telephone no.:</span>
                            <span>
                                 <input type="text" name="fatherName" style="width: 200px">
                            </span>
                        </span>
                        <span style="width: 50%">
                             <span>Fax no.:</span>
                            <span>
                                 <input type="text" name="fatherName" style="width: 200px">
                            </span>
                        </span>

                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="width: 50%">
                          <span>Email address:</span>
                            <span>
                                 <input type="text" name="fatherName" style="width: 200px">
                            </span>
                        </span>
                        <span style="width: 50%">
                             <span>Skype id:</span>
                            <span>
                                 <input type="text" name="fatherName" style="width: 200px">
                            </span>
                        </span>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
