<style>
    .col-12 {
        background: white;
        padding: 25px
    }

    table {
        border: none;
        width: 100%;
        color: black;
    }

    th {
        padding-left: 10px

    }

    input[type="checkbox"] {
        border-radius: unset;
        width: 20px;
        height: 20px;
    }

    td {
        padding-top: 10px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-12">
            <table>

                <tbody>

                <tr>
                    <td style="background: #b9b9b9">
                        <h5><strong> 3. OTHER INFORMATION </strong></h5>
                    </td>
                </tr>
               <tr>
                   <td>Indication for Politically Exposed Person (PEP):</td>
               </tr>
                <tr>
                    <td>
                        Please specify whether the applicant (yourself) /any immediate family member / associate hold/held a prominent public function the last
                        12 months:
                    </td>
                </tr>
                <tr>
                    <td>


                        <span style="margin-left:10px">
                                <input type="checkbox">
                        </span>
                        <span style="margin-left:3px">
                               None
                        </span>
                        <span style="margin-left:10px">
                                <input type="checkbox">
                        </span>
                        <span style="margin-left:3px">
                              Applicant
                        </span>
                        <span style="margin-left:10px">
                                <input type="checkbox">
                        </span>
                        <span style="margin-left:3px">
                             Close Relative
                        </span>
                        <span style="margin-left:10px">
                                <input type="checkbox">
                        </span>
                        <span style="margin-left:3px">
                                Close Associate
                        </span>
                    </td>
                </tr>



                <tr>
                    <td>
                            <span>
                              Name of the person that holds / held the prominent public function:
                            </span>
                        <span>
                                <input type="text" name="fatherName" style="width: 200px">
                            </span>
                    </td>
                </tr>
                <tr>
                    <td>
                           <span>
                           Position:
                            </span>
                        <span>
                                <input type="text" name="fatherName" style="width: 200px">
                            </span>
                        <span style="margin-left:25px">
                            Country of the position held:
                            </span>
                        <span>
                                <input type="text" name="fatherName" style="width: 280px">
                            </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Period in which this individual holds / held political / public function:
                    </td>
                </tr>
                <tr>
                    <td>
                           <span>
                           From:
                            </span>
                        <span>
                                <input type="text" name="fatherName" style="width: 200px">
                            </span>
                        <span style="margin-left:25px">
                           To:
                            </span>
                        <span>
                                <input type="text" name="fatherName" style="width: 280px">
                            </span>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
