<style>
    .col-12 {
        background: white;
        padding: 25px
    }

    table {
        border: none;
        width: 100%;
        color: black;
    }

    th {
        padding-left: 10px

    }

    input[type="checkbox"] {
        border-radius: unset;
        width: 20px;
        height: 20px;
    }

    td {
        padding-top: 10px;
    }
    .table-border-column td{
        border:1px solid #b4b4b4;
        text-align: center;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-12">
            <table>

                <tbody>

                <tr>
                    <td style="background: #b9b9b9" colspan="4">
                        <h5><strong> 1B. SELF - CERTIFICATION </strong></h5>
                    </td>
                </tr>
                <tr>
                    <td style="padding-top:10px"></td>
                </tr>
                <tr>
                    <td colspan="4">
                        Pursuant to the Agreements for the automatic exchange of information which were concluded and/or will be concluded between the
                        Republic of Cyprus and other countries for tax matters and the relevant legislation (including those relating to the Foreign Account
                        Tax Compliance Act - FATCA and the Common Reporting Standard - CRS), Bank of Cyprus (‘the Bank’) is required to identify account
                        holders that are tax residents in foreign jurisdictions (for purposes of CRS) and are US Persons (that is US citizens or tax residents)
                        (for purposes of FATCA) and report all related information to the Tax Department in Cyprus which in turn will report this information

                        to Tax Departments of the foreign jurisdictions and/or to the IRS of the United States. As a Bank, we therefore request you to com-
                        plete this Self-Certification Form. Further information on FATCA and CRS may be found on the websites of the Bank of Cyprus at

                        www.bankofcyprus.com, the Association of Cyprus Banks at www.acb.com.cy the U.S. IRS at www.irs.gov/fatca and the OECD at
                        http://www.oecd.org/tax/automatic-exchange
                    </td>
                </tr>
<tr>
    <td style="padding-top:50px" colspan="4">

    </td>
</tr>
                <tr>
                    <td colspan="4">
                        <span>
                         Are you a US Citizen / Resident for tax purposes?
                        </span>

                        <span style="margin-left:10px">
                                <input type="checkbox">
                        </span>
                        <span style="margin-left:3px">
                               YES
                        </span>
                        <span style="margin-left:10px">
                                <input type="checkbox">
                        </span>
                        <span style="margin-left:3px">
                              NO
                        </span>


                    </td>
                </tr>


                <tr>
                    <td style="padding-top:20px" colspan="4">
                        Please report all countries in which you are tax resident
                    </td>
                </tr>
                <tr>
                    <td style="padding-top:20px" colspan="4">

                    </td>
                </tr>
               <tr class="table-border-column">
                   <td rowspan="2">
                       Country of Tax Residence
                   </td>
                   <td colspan="2">
                       Taxpayer Identification Number (TIN) or Functional Equivalent *
                   </td>
                   <td rowspan="2">
                       If no TIN available enter
                       Reason A, B or C**
                   </td>
               </tr>
                <tr class="table-border-column">
                    <td>Type of Document</td>
                    <td>
                        Number
                    </td>
                </tr>
                <tr  class="table-border-column">
                    <td>
                        <br><br>
                    </td>
                    <td>
                        <br><br>
                    </td>
                    <td>
                        <br><br>
                    </td>
                    <td>
                        <br><br>
                    </td>
                </tr>
                <tr  class="table-border-column">
                    <td>
                        <br><br>
                    </td>
                    <td>
                        <br><br>
                    </td>
                    <td>
                        <br><br>
                    </td>
                    <td>
                        <br><br>
                    </td>
                </tr>
                <tr  class="table-border-column">
                    <td>
                        <br><br>
                    </td>
                    <td>
                        <br><br>
                    </td>
                    <td>
                        <br><br>
                    </td>
                    <td>
                        <br><br>
                    </td>
                </tr>
                <tr>
                    <td style="padding-top:20px" colspan="4">

                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        * A high integrity number with an equivalent level of identification as a TIN. E.g. Social Security Number, personal ID number.<br>
                        ** Complete only for CRS countries - If a TIN is not availabale, please provide the appropriate reason A, B or C.<br>
                        Reason A - The Country where the Account Holder is a tax resident does not issue TINs to its residents.<br>
                        Reason B - The Account Holder is otherwise unable to obtain a TIN (please explain):<br>
                        <input type="text" name="comment" style="height: 50px;width: 100%">
                        <br>
                        Reason C - No TIN is required (Note: Please select this reason only where the domestic law of the relevant authorities of the country of tax residence
                        entered above, does not require the collection of the TIN issued by such country of tax residence to be disclosed).
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
