<style>
    .col-12 {
        background: white;
        padding: 25px
    }

    table {
        border: none;
        width: 100%;
        color: black;
    }

    th {
        padding-left: 10px

    }

    input[type="checkbox"] {
        border-radius: unset;
        width: 20px;
        height: 20px;
    }

    td {
        padding-top: 10px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-12">
            <table>

                <tbody>

                <tr>
                    <td style="background: #b9b9b9">
                        <h5><strong>5. WEALTH MANAGEMENT SERVICES</strong></h5>
                    </td>
                </tr>
<tr>
    <td>
        For your information, the Bank offers Wealth Management and Global Brokerage services. If you are interested in these services, please
        let us know if you would iike a qualified person from our team to contact you and provide further information.
    </td>
</tr>

                <tr>
                    <td>


                        <span style="margin-left:3px">
                           Please tick here if you are interested
                        </span>
                        <span style="margin-left:10px">
                                <input type="checkbox">
                        </span>

                    </td>
                </tr>
                <tr>
                    <td style="border-bottom: 1px solid;padding-top:12px"></td>
                </tr>

                <tr>
                    <td>
                        Please make sure that you enclose the following documents and information and tick the boxes accordingly:
                    </td>
                </tr>


                <tr>
                    <td>

                        <span style="margin-left:10px">
                                <input type="checkbox">
                        </span>
                        <span style="margin-left:3px">
                            Legible certified true copy of passport(s) (Inclusive of photograph, signature and expiry date)
                        </span>


                    </td>
                </tr>
                <tr>
                    <td>

                        <span style="margin-left:10px">
                                <input type="checkbox">
                        </span>
                        <span style="margin-left:3px">
                         Bank reference (not older than 6 months)
                        </span>


                    </td>
                </tr>
                <tr>
                    <td>

                        <span style="margin-left:10px">
                                <input type="checkbox">
                        </span>
                        <span style="margin-left:3px">
                          Proof of residential address, e.g. utility bill (not older than 6 months)
                        </span>


                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
