{% extends 'base.html.twig' %}

{% block title %}New Email Templates{% endblock %}

{% block body %}
    <h1 style="color: red">New Email Templates</h1>

    {{ include('email_templates/_form.html.twig') }}

    <a class="btn btn-outline-primary btn-sm" href="{{ path('email_templates_index') }}">Return to list</a>
{% endblock %}
