{% extends 'base.html.twig' %}

{% block title %}Edit: Client Availability{% endblock %}

{% block body %}
    <h1 style="color: red">Edit: Client Availability</h1>

    {{ include('client_availability/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-primary btn-sm" href="{{ path('client_availability_index') }}">Return to list</a>

    {{ include('client_availability/_delete_form.html.twig') }}
{% endblock %}

